<Files ".env">
  Deny from all
</Files>

<Files ".gitignore">
  Deny from all
</Files>

<Files "README.md">
  Deny from all
</Files>

<Files "CLAUDE.md">
  Deny from all
</Files>

<Files ".git/">
  Deny from all
</Files>

AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript

